.content-container {
	width: 100%;
	display: block;
	margin: 10px 5px;
	text-align: left;
	border: none !important;
	box-shadow: 0 1rem 4rem rgba(21, 34, 50, 0.08);
	padding: 1rem 1rem;
}

.next-five-container {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	justify-content: space-around;
}

.location-text {
	font-size: 2rem;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.tab-container {
	margin: 0.8rem 0.8rem;
	padding-bottom: 1.5rem;
}

.react-tabs {
	margin-top: 30px;
}

.banner-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.banner-icon {
	width: 5rem;
	height: 5rem;
}

.temperature {
	font-size: 3rem;
	margin-left: 0.5rem;
	font-weight: bold;
}

.unit {
	font-size: 1rem;
	margin-top: 0.7rem;
}

.detail-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-right: 10px;
}

.info-text {
	text-align: right;
	font-weight: 500;
}

.root {
	min-width: 20%;
}

.card-container {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	padding: 0.5rem 0.5rem;
	background: inherit;
	border: none;
	opacity: 0.3;
}

.card-container.selected {
	opacity: 1;
}

.text {
	text-align: center;
	line-height: normal;
	padding: 0.5rem 0rem;
}

.icon {
	align-self: center;
	line-height: normal;
	width: 3rem;
	height: 3rem;
}

.tabs {
	margin: 20px 0;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab {
	flex: 1;
	height: 100%;
	cursor: pointer;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.3;
}

.tab.active {
	opacity: 1;
}
